// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color:red;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px 400px 400px 400px 300px 300px 300px;
  grid-template-areas:
          "a1 b1 c1 d1 e1 f1"
          "a2 b2 c2 d2 e2 f2"
          "a3 b3 c3 d3 e3 f3"
          "a4 b4 c4 d4 e4 f4"
          "a5 b5 c5 d5 e5 f5"
          "a6 b6 c6 d6 e6 f6"
          "a7 b7 c7 d7 e7 f7"
          "a8 b8 c8 d8 e8 f8"
          "a9 b9 c9 d9 e9 f9"
          "a10 b10 c10 d10 e10 f10"
          "a11 b11 c11 d11 e11 f11"
          "a12 b12 c12 d12 e12 f12"
          "a13 b13 c13 d13 e13 f13"; }


.red {
grid-column: a1 /f1;
background-color: blueviolet;
grid-row: a1/a2;
}

.blue {
grid-column: a2 /f2;
grid-row: a2/a3;
background-color: skyblue;
}

.grey {
  grid-column: a3 /f3;
  grid-row: a3/a4;
  background-color: grey;
}

.white{
  grid-column: a4 /f4;
  grid-row: a4/a5;
  background-color: white;
}

.yellow{
  grid-column: a5 /f5;
  grid-row: a5/a6;
  background-color: #ffdd99;
}
.magenta{
  grid-column: a6 /f6;
  grid-row: a6/a7;
  background-color: mediumvioletred;
}
.darkblue{
  grid-column: a7 /f7;
  grid-row: a7/a8;
  background-color: darkslateblue;
}



// Variabler - med størrelser
$s: 'only screen and (min-width: 768px)'; // Tablet stående
$m: 'only screen and (min-width: 992px)'; // Tablet liggende
$l: 'only screen and (min-width: 1200px)'; // Computer

@media #{$s} {
  // Alt der ændres i tablet stående fra mobil
  body{
    background-color: #ddd;
  }
}

@media #{$m} {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  body{
    background-color: #ddd;
  }
}

@media #{$l} {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  body{
    background-color: #ddd;
  }
}

@media print {
  // Alt der gælder for print specifikt
}