// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color:red;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
//variabler:
$violet: #87509c;
$darkviolet: #643a79;
$green: #17c2a4;
$grey: #e7f1f8;
$white:#ffffff;
$yellow: #ffdd99;
$red: #d74680;
$blue: #3c5499;
$darkblue: #344b8e;



.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:
          50px 50px 60px 60px 70px 90px
          150px 150px 150px 150px 150px 150px
          150px 150px 150px 150px 150px 150px
          150px 150px 150px 150px 150px 150px
          150px 150px 150px 150px 150px;


  grid-template-areas:
          "a1 b1 c1 d1 e1 f1"
          "a2 b2 c2 d2 e2 f2"
          "a3 b3 c3 d3 e3 f3"
          "a4 b4 c4 d4 e4 f4"
          "a5 b5 c5 d5 e5 f5"
          "a6 b6 c6 d6 e6 f6"
          "a7 b7 c7 d7 e7 f7"
          "a8 b8 c8 d8 e8 f8"
          "a9 b9 c9 d9 e9 f9"
          "a10 b10 c10 d10 e10 f10"
          "a11 b11 c11 d11 e11 f11"
          "a12 b12 c12 d12 e12 f12"
          "a13 b13 c13 d13 e13 f13"
          "a14 b14 c14 d14 e14 f14"
          "a15 b15 c15 d15 e15 f15"
          "a16 b16 c16 d16 e16 f16"
          "a17 b17 c17 d17 e17 f17"
          "a18 b18 c18 d18 e18 f18"
          "a19 b19 c19 d19 e19 f19"
          "a20 b20 c20 d20 e20 f20"
          "a21 b21 c21 d21 e21 f21"
          "a22 b22 c22 d22 e22 f22"
          "a23 b23 c23 d23 e23 f23"
          "a24 b24 c24 d24 e24 f24"
          "a24 b24 c24 d24 e24 f24"
          "a25 b25 c25 d25 e25 f25"
          "a26 b26 c26 d26 e26 f26"
          "a27 b27 c27 d27 e27 f27"
          "a28 b28 c28 d28 e28 f28"
          "a29 b29 c29 d29 e29 f29"; }


.header {
grid-column: a1 /f1;
background-color: #87509c;
grid-row: a1/a6;
}

.logo{
  grid-column: b1 / c1;
  grid-row: a2 / a2;
}
.menubar {
  grid-column: e1 / f1;
  grid-row: e2 / e2;
  a {
    text-decoration: none;
    color: $white;
    padding: 10px;
  }
  a:hover{
    background-color: $darkviolet;
  }
}

.headertekst{
  text-align: center;
  grid-column: b3 / e3;
  grid-row: c4 / e4;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.HeaderCTA{
  grid-column: d4 / d4;
  grid-row: c6 / d6;
  margin-left: -50%;
  margin-top: -10%;

  a{
    text-decoration: none;
    padding: 20px;
    background-color: $yellow;
  }
}


.green {
  grid-column: a6 / f7;
  grid-row: a7 / a11;

background-color: $green;
}

.grey {
  grid-column: a8 / f8;
  grid-row: a12 / a15;

  background-color: $grey;
}

.white{
  grid-column: a6 / f6;
  grid-row: a16 / a19;

  background-color: $white;
}

.yellow{
  grid-column: a7 / f7;
  grid-row: a20 / a23;

  background-color: $yellow;
}
.magenta{
  grid-column: a17 / f17;
  grid-row: a24 / a26;
  background-color: $red;
}

.cirkel1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkgray;
  margin: 0 0 -15px -50px;
}

.whatpeoplesay{
  grid-column: c18/d18;
  grid-row: a24/a25;
  text-align: center;
  padding: 30px;
}

.text1{
  grid-column: c24/d24;
  grid-row: a24/a25;
  margin-top: 110px;
}

.text2{
  grid-column: c24/d24;
  grid-row: a25/a26;
}

.text3{
  grid-column: d24/e24;
  grid-row: a24/a25;
  margin-top: 110px;
}

.text4{
  grid-column: d24/e24;
  grid-row: a25/a26;
}

.darkblue{
  grid-column: a20 / f20;
  grid-row: a26 / a28;
  background-color: $blue;
  text-align: center;
}

.yourname, .youremail{
  background-color: $darkblue;
  color: white;
  border: none;
  width: 400px;
  height: 35px;
}

.yourmessage{
  background-color: $darkblue;
  color: white;
  border: none;
  width: 800px;
  height: 180px;
}

.getintouch{
  margin-top: 20px;
  color: white;
}

.send{
  background-color: $yellow;
  border: none;
  width: 200px;
  height: 35px;
}

.footerboks{
  grid-column: a29 /f29;
  grid-row: a29/a29;
  background-color: $darkblue;
  height: 80px;
  align-self: end;
  text-align: center;
  a{
    text-decoration: none;
    color: white;
    margin: 25px;
  }
  a:hover{
    color: $yellow;
  }
}


// Variabler - med størrelser
$s: 'only screen and (min-width: 768px)'; // Tablet stående
$m: 'only screen and (min-width: 992px)'; // Tablet liggende
$l: 'only screen and (min-width: 1200px)'; // Computer

@media #{$s} {
  // Alt der ændres i tablet stående fra mobil
  body{
    background-color: #ddd;
  }
}

@media #{$m} {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  body{
    background-color: #ddd;
  }
}

@media #{$l} {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  body{
    background-color: #ddd;
  }
}

@media print {
  // Alt der gælder for print specifikt
}